/* Notes */
.note-card {
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border: none;
}

.note-card .card-body {
  padding: 20px;
}

/* Footer */
#footer {
  text-align: center;
  margin-top: 40px;
}
